<footer class ='footer'>
  <div class="footer-container">
    <div id='sticky-footer-container'>
      <p>Jeff Carlow</p>
      <p>Daniel Lundby</p>
      <p>Devon Jones</p>
      <p>Bonnie Kimbrel</p>
      <p>Andres Medina</p>

    </div>

  </div>

</footer>
