<div class="container">
    <div class="row">
        <div class="col-lg-2 pull-right">
            <div id="logout_button">
                <form action="/logout">
                    <div class="form-group">
                        <button type="submit" value="send" class="btn btn-danger">Log Out</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>