<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>User Comment Example</h3>
    </div>
    <!-- /col-sm-12 -->
  </div>
  <!-- /row -->
  <!-- /col-sm-1 -->

  <div class="col-sm-5">
    {{#each posts}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>User:{{this.name}}</strong> <span class="text-muted" id="location">City:{{this.location}}</span>
      </div>
      <div class="panel-body">
        {{this.body}}
      </div>
      <!-- /panel-body -->
    </div>
    {{/each}}
    <!-- /panel panel-default -->
  </div>
  <!-- /col-sm-5 -->

  <div class="col-lg-4 col-lg-offset-4">
    <!-- this button will add a new burger to the database and the DOM.-->
    <form action="/?_method=POST" method="POST">
      <h4 class="text-center">Name: </h4>
      <input class="center-block" type="text" name="name">
      <h4 class="text-center">Comment: </h4>
      <input class="center-block" type="text" row="10" name="body">
      <h4 class="text-center">Location: </h4>
      <input class="center-block" type="text" name="location">
      <br>
      <button class="center-block" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-lg-4 col-lg-offset-4">
   {{#each pharmacies}}
  <ul class="people_list">
    <li>{{this.name}}</li>
</ul>
{{/each}}
</div>
</div>
</div>
</div>
