<div class="container">
  <div class="entry">
          {{users}}
          <p>Welcome {{Firstname}}! Are you a dog or cat person?</p>
        </div>
        <div id="dogButton">
          <form action="/dogdashboard">
            <div class="form-group">
              <button type="submit" value="send" class="btn btn-danger">Dogs</button>
            </div>
          </form>
        </div>
        <p>The button was pressed <span id="dogcounter">0</span> times.</p>
        <div id="catButton">
          <form action="/catdashboard">
            <div class="form-group">
              <button value="Count" class="btn btn-danger">Cats</button>
              <p>The button was pressed <span id="catcounter">0</span> times.</p>
            </div>
          </form>
        </div>
      </div>